<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<h3>Participating carts nearby</h3>
<div id="map"></div>
<script>
    function initMap() {
        var halalPos = {lat: 40.732422, lng: -73.984518};
        var sWTPos = {lat: 40.731102, lng: -74.001372};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: halalPos

        });
        var halalGuysPos = new google.maps.Marker({
            position: halalPos,
            map: map
        });

        var sideWalkTacos = new google.maps.Marker({
            position: sWTPos,
            map: map
        });



    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDz0IPrLV2httinG_LJT5F47NFEotHwkY
&callback=initMap">
</script>
</body>
</html>